<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Analizador de emociones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-grid>
    <ion-row>
      <h4 class="contentTitle">
        Análisis De Emociones
      </h4>
    </ion-row>
    <ion-row>
      <p class="description">
        A veces, las tres clases de sentimiento (positivo, negativo y neutral) no son suficientes para comprender los matices con respecto al tono subyacente de una oración. Nuestro clasificador de Análisis de las emociones está entrenado en nuestro conjunto de datos propietario y dice si la emoción subyacente detrás de un mensaje es: Feliz, Triste, Enojado, Temeroso, Emocionado o Aburrido. 
      </p>
    </ion-row>

    <!-- CARD CON INPUT BUSQUEDA -->
    <ion-card class="cardBackground">
      <ion-card-content>
          <ion-row>
              <ion-item class="fullWidth">
                <ion-label position="floating">Facebook post URL:</ion-label>
                <ion-input [(ngModel)]="urlAddress"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col class="colCenter">
                <ion-button color="primary" size="large" (click)="getCommentId()">Buscar</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-item *ngFor="let item of items">
                  <ion-thumbnail slot="start">
                    <ion-img [src]="item.src"></ion-img>
                  </ion-thumbnail>
                  <ion-label>{{item.text}}</ion-label>
                </ion-item>
              
            </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- CARD CON RESULTADOS -->
    <ion-card class="cardBackground">
      <ion-card-header>
        <ion-card-title>Total de Comentarios: {{numberTotalComments}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of commentsFromFacebook, let i=index">
            <ion-label>
              {{i}} : {{item.message}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


  </ion-grid>
</ion-content>
