.description{
    text-align: justify;
}
.contentTitle{
    font-weight: bolder; 
}
.fullWidth{
    width: 100%;
}
.colCenter{
    text-align: center;
}
.cardBackground{
    background-color: whitesmoke
}